core
*.ply
*.pdf
*pt*
*.pyc
*.log
*.jpg
*.png
*.npz
*.npy
*.pkl
*.mp4
*.gif
*.swp
*.DS_Store*
*.obj
*.ply
*.json
*.blend
*.blend*
*.mp4*
*.webm
*.mkv
*.rrd
*.nfs*
*.txt
*.tar
*.wandb
t2m_eval/
Vision_HOI/
data/smpl_all_models/

